@font-face {
  font-family: "uniteaSans";
  src: url("../../frontend/fonts/UniteaSans-Regular.ttf") format("truetype");
  font-weight: 700;
  size: 19px;
  font-style: normal;
  line-height: 25px;
}

@font-face {
  font-family: "uniteaSansBold";
  src: url("../../frontend/fonts/UniteaSans-Bold.ttf") format("truetype");
  font-weight: 700;
  size: 19px;
  font-style: normal;
  line-height: 25px;
}

@font-face {
  font-family: "uniteaSansSemiBold";
  src: url("../../frontend/fonts/UniteaSans-SemiBold.ttf") format("truetype");
  font-weight: 700;
  size: 19px;
  font-style: normal;
  line-height: 25px;
}
:root {
  --color1: #1497df;
  --color2: white;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "uniteaSans";
}

header {
  height: 10vh;
  padding: 5% 5%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--color1);
}

header .fa-bars {
    font-size: 35px !important;
    cursor: pointer;
  }

  .command{
    border: 1px solid lightgray;
    margin-bottom: 2vh;
  }

  .command .command-body{
    height: 100%;
    width: 100%;
  }

  .command div:has(img){
    display: flex;
    gap: 3%;
  }
  .command-header{
    width: 100%;
  }
  .command-header > div{
    display: flex;
    gap: 2%;
  }

  .command p{
    font-size: large;
    width: 100%;
    white-space: pre-wrap;
  }
  .command .price{
    width: fit-content;
    color: lightseagreen;
  }
  .command .title{
    width: 100%;
  }
  .command .date{
    color: gray;
  }
  .command .command-end{
    display: flex;
    width: auto;
    margin-left: auto;
    justify-content: space-between;
    align-items: center;
  }

  .command .command-end label{
    display: flex;
    width: 100%;
    align-items: center;
    height: 100%;
    padding: .5rem;
  }
  .command .command-end label:hover{
    background-color: lightcoral;
  }
  .command img{
    width:  25%;
  }

  @media screen and (min-width: 400px) {
    .command{
      height: 15vh;
    }
    .command img{
      width: 15%;
    }
  }