@font-face {
  font-family: "uniteaSans";
  src: url("fonts/UniteaSans-Regular.ttf") format("truetype");
  font-weight: 700;
  size: 19px;
  font-style: normal;
  line-height: 25px;
}

@font-face {
  font-family: "uniteaSansBold";
  src: url("fonts/UniteaSans-ExtraBold.ttf") format("truetype");
  font-weight: 700;
  size: 19px;
  font-style: normal;
  line-height: 25px;
}

:root {
  --color1: #1497df;
  --color2:white;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "uniteaSans";
}

.mainPage {
  background-color: white;
  padding: 0 40px;
}

header {
  height: 10vh;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--color1);
}

header .fa-bars {
  font-size: 35px !important;
}

.content .services {
  margin-top: 25px;
  gap: 50px;
  width: 100%;
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.services .service {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  cursor: pointer;
}
 

.icons {
  width: 200px;
}

.service-title {
  font-family: "uniteaSansBold";
}

.btn-div {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
}

.btn-div button {
  cursor: pointer;
  border-radius: 8px;
  border: none;
  padding: 17px 35px;
  background: var(--color1);
  color: white;
}

.btn-div button:hover{ 
  background: var(--color2);
  color: var(--color1);
  border: 2px solid var(--color1);
}

@media only screen and (max-width: 510px) {
  .icons {
    width: 150px;
    transition: 5s;
  }
}
