@font-face {
  font-family: "uniteaSans";
  src: url("../fonts/UniteaSans-Regular.ttf") format("truetype");
  font-weight: 700;
  size: 19px;
  font-style: normal;
  line-height: 25px;
}

@font-face {
  font-family: "uniteaSansBold";
  src: url("../fonts/UniteaSans-ExtraBold.ttf") format("truetype");
  font-weight: 700;
  size: 19px;
  font-style: normal;
  line-height: 25px;
}

@font-face {
  font-family: "uniteaSansSemiBold";
  src: url("../fonts/UniteaSans-SemiBold.ttf") format("truetype");
  font-weight: 700;
  size: 19px;
  font-style: normal;
  line-height: 25px;
}

:root {
  --color1: #1497df;
  --color2:white;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "uniteaSans";
}

.notificationBox {
  position: fixed;
  display: none;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(20, 151, 223, 0.48);
  z-index: 20;
}

.emoji {
  width: 120px;
  height: 120px;
  background-image: url("../img/Emoji.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.notifText {
  width: 330px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  background-color: white;
  padding: 25px;
  border: 2px solid var(--color1);
  border-radius: 7px;
}

.notifText p {
  font-family: "uniteaSansSemiBold";
  font-size: 25px;
  color: #2C2F48;
}

.notifText button {
  width: 100%;
  padding: 8px 0;
  border-radius: 7px;
  background-color: var(--color1);
  color: white;
  border: 2px solid var(--color1);
  cursor: pointer;
}

.notifText button:hover {
  background-color: white;
  color: var(--color1);
}


.mainPage {
  background-color: white; 
  padding: 0 50px;
}

header {
  height: 10vh;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--color1); 
  position: fixed;
  padding: 0 55px;
  width: 100%; 
}

header .fa-bars {
  font-size: 35px !important;
}

.content .services { 
  gap: 50px;
  width: 100%;
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 100px;

}

.services .service {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  cursor: pointer;
}
 

.icons {
  width: 200px;
}

.service-title {
  font-family: "uniteaSansBold";
}

.btn-div {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
}

.btn-div button {
  cursor: pointer;
  border-radius: 8px;
  border: none;
  padding: 17px 35px;
  background: var(--color1);
  color: white;
}

.btn-div button:hover{ 
  background: var(--color2);
  color: var(--color1);
  border: 2px solid var(--color1);
}

@media only screen and (max-width: 510px) {
  .icons {
    width: 150px;
    transition: 5s;
  }
}
