:root{
    --color1:#1497DF;
    --color2:white;
}
#iconNavBar{
    cursor: pointer;
}
#navBar { 
    background-image: linear-gradient(to bottom, #1497DF, #284e64);
    position: fixed;
    width: 100vw;
    height: 102vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    z-index: 2; 
}
#divIconNavBar {
    width: 100vw; 
}
#clossNavBar {
    float: right;
    font-size: 35px;
    margin: 15px 41px 0px 0px;
    color: white;
    cursor:pointer;
}
#contentNavBar {
    width: 100vw;
    height: 400px; 
    background-color: white;
    border-radius: 8px 8px 0px 0px;
    padding: 0px 60px 2px 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10.39px;
}
#contentNavBar button {
    width: 400px;
    height: 60.25px;
    padding: 12.13px 20.79px 12.13px 20.79px;
    border-radius: 6.93px; 
    background: var(--color1);
    border: none;
    font-size: 22px;
    color: white;
    cursor:pointer;
}
#contentNavBar button:hover{ 
    background: var(--color2);
    border: 2px solid var(--color1); 
    color: var(--color1);
}
   
@keyframes moveNavBar {
  0%{opacity: 0;}
  100%{opacity: 10;}

}
@media (max-width: 800px) {
    #divIconNavBar {
        width: 100vw; 
    }
    #clossNavBar {
        margin: 19px 42px 0px 0px;
    }
    #contentNavBar { 
        width: 100vw; 
    }
    #contentNavBar button {
        width: 255px;
        height: 45.25px;    
        font-size: 18px; 
    }
}

