@font-face {
  font-family: "uniteaSans";
  src: url("../fonts/UniteaSans-Regular.ttf") format("truetype");
  font-weight: 700;
  size: 19px;
  font-style: normal;
  line-height: 25px;
}

* {
  padding: 0;
  border: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "uniteaSans";
}
:root {
  --color1: #1497df;
  --color2: white;
  --color3: #000000b8;
}
header {
  height: 10vh;
  background-color: var(--color2);
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--color1); 
  padding: 0 55px;
  width: 100%;
}

header .fa-bars {
  font-size: 35px !important;
}

.page {
  padding: 0 50px;
}
.content {
  display: flex;
  flex-direction: column;
  margin: 35px 0 0 0;
  gap: 20px;
}
.content .service {
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}
.service img {
  width: 100%;
}
.content h3 {
  color: var(--color1);
}
.content #title {
  color: black;
  text-shadow: 0 0 1px black;
}
.content span {
  color: var(--color1);
  display: flex;
  align-items: center;
  gap: 12px;
}
span h1 {
  color: black;
}

#btns {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}
#btns button {
  background: white;
  border-radius: 8px;
  padding: 10px 20px;
  color: var(--color1);
  border: 2px solid var(--color1);
  cursor: pointer;
}
#selects {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}
.select {
  width: 208px;
  height: 40px;
  border-radius: 8px;
  border: 0.5px solid rgba(0, 0, 0, 0.742);
}
#btn {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
  padding: 20px 0;
}
#confirm,
#cancel {
  cursor: pointer;
  width: 325px;
  height: 45.25px;
  border-radius: 6.93px;
  padding: 12.13px 20.79px 12.13px 20.79px;
}

#confirm {
  background: var(--color1);
  color: white;
}
#cancel {
  color: var(--color1);
  border: 2px solid var(--color1);
  cursor: pointer;
  background: white;
}

.form {
  top: 0;
  display: none;
  position: fixed;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: rgba(20,151,223, 0.5);
  z-index: 10;
}

.form .subform {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  width: 450px;
  padding: 25px;
  gap: 20px;
  border-radius: 7px;
}

.subform input {
  width: 100%;
  padding: 15px;
  border-radius: 7px;
  border: 2px solid #828282;
  outline: none;
}

#submit {
  width: 100%;
  padding: 15px;
  border-radius: 7px;
  background: var(--color1);
  color: white;
  cursor: pointer;
}

#whatsapp {
  width: 100%;
  padding: 15px;
  border-radius: 7px;
  background: var(--color1);
  color: white;
  cursor: pointer;
} 


#whatsapp:active { 
  background: white;
  color: var(--color1); 
  border: var(--color1);
}
/* active button */
/* active button */
/* active button */
/* active button */



.subform #cancelForm {
  width: 100%;
  color: var(--color1);
  border: 2px solid var(--color1);
  padding: 15px;
  border-radius: 7px;
  text-align: center;
  cursor: pointer;
}

.selected {
  background-color: var(--color1) !important;
  color: white !important;
}

@media (max-width: 500px) {
  .form .subform {
    width: 90%;
    min-width: 250px;
  }
}

 

/* reloads */
#reload{

  width: 100% ;  
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 50%; 
  z-index:11; 
  display: none;
}

#iconReload{

  width: 50px ;
  height: 50px;
  position: fixed;
  border-radius: 50%;
  box-shadow: 0 0 12px -4px black;
  transform: translate(-50%, -50%);
  animation: moveReload 0.5s  infinite linear;
  margin: 0 0 0 20px;
}

@keyframes moveReload {
  0%{ transform: rotate(0deg);}
  100%{  transform: rotate(360deg);}
}